.grid-container {
    display: grid;
    grid-template-columns: 300px 300px 300px 100px 300px;
    column-gap: 0px;
    row-gap: 1px;
    place-content: center;
}

.grid-item {
    background-color:beige;
    border-top: 1px solid rgba(0,0,0,.8);
    border-bottom: 1px solid rgba(0,0,0,.8);;
    border-left: 2px solid rgba(0,0,0,.8);;
    border-right: 2px solid rgba(0,0,0,.8);;
    padding: 1px;
    text-align: center;
    font-size: 16px;
}